<ion-view>
    <div>
        <div class="bar bar-header bar-light account-header">
            <!--<a class="button button-small icon ion-arrow-left-b" href="#/tab/brewers"></a>-->
            <h1 class="title"><img src="img/logo36.png"/>{{display_title}}</h1>
        </div>
    </div>
    <ion-content class="has-header">
        <div class="login-form " style="{{display_login}}">
            <ul class="form-list" type="submit">
                <li>
                    <span class="form-label-left"><i class="ion-ios7-person"></i></span>
                    <div class="form-cont">
                        <input name="user.username" ng-model="user.username" type="text" placeholder="请输入登录账号/手机号"
                               required class="ctrl-txt"/>
                    </div>
                </li>
                <li>
                    <span class="form-label-left"><i class="ion-ios7-locked"></i></span>
                    <!--<span class="form-label-right"><i class="ion-ios7-close-outline"></i></span>-->
                    <div class="form-cont">
                        <input name="user.password" ng-model="user.password" type="password" placeholder="请输入登录密码"
                               required class="ctrl-txt"/>
                    </div>
                </li>
            </ul>

           <div class="link">
                   <label class="ui-checkbox ui-checkbox-s">
                       <input type="checkbox" ng-model="user.isChecked">记住密码
                   </label>
               <a href="#/reg">忘记密码？</a>
           </div>

            <div class="form-action">
                <button type="submit" class="ctrl-btn button button-calm" ng-click="doLogin()">登 录</button>
            </div>

            <div class="row">
                <div class="col col-67"><button type="submit" class="ctrl-btn button button-balanced" ng-click="toTelReg()">手机号一键注册</button></div>
                <div class="col"><button type="submit" class="ctrl-btn button button-calm" ng-click="toReg()">账号注册</button></div>
            </div>
        </div>

        <div name="divreg" class="reg-form" style="{{display_tel_reg}}">
            <form class="form-label" name="regform" type="submit">
                <div class="item item-input first-input">
                    <span class="form-label-left"><i class="ion-ios7-telephone"></i></span>
                    <input name="mobile" ng-model="user.mobile" type="tel" placeholder="请输入手机号码(建议填写)">
                </div>

                <div class="item item-input ctrl-btn-right" ><!--ng-show="!regform.mobile.$error.required"-->
                    <span class="form-label-left"><i class="ion-iphone"></i></span>
                    <label class="item-input-wrapper inner-input">
                        <input name="authCode" ng-model="user.authCode" type="text" placeholder="请输入验证码">
                    </label>
                    <button class=" button button-balanced" ng-click="getAuthCode()" ng-disabled="user.isEnabled">{{user.btnText}}</button>
                </div>
            </form>

            <div class="row reg-check">
                <div class="col reg-check-2 text-right">
                    <ion-checkbox ng-model="isChecked2" >同意</ion-checkbox>
                </div>
                <div class="col reg-check-3 text-right col-64px">
                    <a href="" ng-click="cliced()">注册协议</a>
                </div>
            </div>
            <div class="form-action">
                <button type="submit" class="ctrl-btn button button-calm" ng-click="doRegister()">注册</button>
            </div>

            <div class="link">
                <a href="#" ng-click="toLogin()">已有账号？返回登录</a>
            </div>
        </div>


    </ion-content>
</ion-view>
