<ion-view>
    <div>
        <div class="bar bar-header bar-light account-header">
            <!--<a class="button button-small icon ion-arrow-left-b" href="#/tab/brewers"></a>-->
            <h1 class="title"><img src="img/logo36.png"/>指游方寸</h1>
        </div>
    </div>
    <ion-content class="has-header">
        <div class="login-form">
            <form class="form-list" type="submit">
                <div class="item-input-wrapper inner-input">
                    <span class="form-label-left"><i class="ion-ios7-person"></i></span>
                    <div class="form-cont">
                        <input name="user.username" ng-model="user.username" type="text" placeholder="请输入登录账号/手机号"
                               required class="ctrl-txt"/>
                    </div>
                    <span class="form-label-right" ng-click="showUserList(!user.list)" ng-model="user.list"
                          ng-init="user.list=false" ng-show="userList.length>0"><i
                            class="{{user.listStyle}}"></i></span>
                </div>
                <label ng-show="user.list">
                    <ion-scroll class="item-input-list">
                        <div class="item item-icon-right" ng-repeat="user in userList">
                            <label class="label" ng-click="selectUser(user)">{{ user.uName }}</label>
                            <label class="icon ion-ios7-close-outline" ng-click="deleteUser(user)"></label>
                        </div>
                    </ion-scroll>
                </label>
                <label class="item item-input">
                    <span class="form-label-left"><i class="ion-ios7-locked"></i></span>
                    <!--<span class="form-label-right"><i class="ion-ios7-close-outline"></i></span>-->
                    <div class="form-cont">
                        <input name="user.password" ng-model="user.password" type="password" placeholder="请输入登录密码"
                               required class="ctrl-txt"/>
                    </div>
                </label>
            </form>

            <div class="link">
                <label class="ui-checkbox ui-checkbox-s">
                    <input type="checkbox" ng-model="user.isSavedUser">记住密码
                </label>
                <a href="#/password/bindtips">忘记密码？</a>
            </div>

            <div class="form-action">
                <button type="submit" class="ctrl-btn button button-calm" ng-click="doLogin()">登 录</button>
            </div>

            <div class="row">
                <div class="col col-67">
                    <button type="submit" class="ctrl-btn button button-balanced" ng-click="toTelReg()">手机号一键注册</button>
                </div>
                <div class="col">
                    <button type="submit" class="ctrl-btn button button-calm" ng-click="toReg()">账号注册</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
