<ion-view title="列表一览">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="form">
      <ul class="form-list">
        <li class="form-row">
          <span class="form-label"><i class="ion-ios7-person-outline"></i></span>

          <div class="form-cont">
            <input name="user.username" ng-model="user.username" type="text" placeholder="邮箱/手机号"
                   required class="ctrl-txt"/>
          </div>
        </li>
        <li class="form-row">
          <span class="form-label"><i class="ion-ios7-locked-outline"></i></span>

          <div class="form-cont">
            <input name="user.password" ng-model="user.password" type="password" placeholder="密码"
                   required class="ctrl-txt"/>
          </div>
        </li>
      </ul>
      <div class="form-action">
        <button type="submit" class="ctrl-btn calm-bg" ng-click="login()">登录</button>
      </div>





    <ion-list show-delete="true">
      <ion-item class="item item-button-right" ng-repeat="menu in menus">
        {{menu.title}} 
        <a class="button button-stable" ng-if="!menu.display" ng-click="menu.display=!menu.display">隐藏</a>
        <a class="button button-stable" ng-if="menu.display" ng-click="menu.display=!menu.display">可见</a>
        <ion-delete-button class="ion-trash-a"
                           ng-click="menus.splice($index, 1)"
                           ng-if="menu.edit">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

