<ion-view>
    <div>
        <div class="bar bar-header bar-light account-header">
            <!--<a class="button button-small icon ion-arrow-left-b" href="#/tab/brewers"></a>-->
            <h1 class="title"><img src="img/logo36.png"/>密码找回</h1>
        </div>
    </div>
    <ion-content class="has-header">
        <div class="pas-reset-title">请先验证您的账号</div>
        <div class="login-form" ng-show="!user.isAccountError" ng-init="user.isAccountError=false">
            <form class="form-list" type="submit">
                <div class="item-input-wrapper inner-input">
                    <span class="form-label-left"><i class="ion-ios7-person"></i></span>
                    <div class="form-cont">
                        <input name="user.username" ng-model="user.username" type="text" placeholder="请输入登录账号/手机号"
                               required class="ctrl-txt"/>
                    </div>
                    <span class="form-label-right-pas" ng-click="setInputEmpty()" ng-show="user.username.length>0"><i class="ion-android-close"></i></span>
                </div>
            </form>
        </div>
        <div class="pas-account-error" ng-show="user.isAccountError">
            <i class="icon ion-alert-circled balanced"></i>
            抱歉！您的账号未采取安全措施，暂时不能为您找回密码，请联系客服，电话:
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="ctrl-btn button button-light" ng-click="toPrevious()">返回登陆</button>
            </div>
            <div class="col">
                <button type="submit" class="ctrl-btn button button-calm" ng-click="toNext()" ng-disabled="user.isAccountError">下一步</button>
            </div>
        </div>
    </ion-content>
</ion-view>
