<ion-view>
    <div>
        <div class="bar bar-header bar-light account-header">
            <!--<a class="button button-small icon ion-arrow-left-b" href="#/tab/brewers"></a>-->
            <h1 class="title"><img src="img/zy_logo_48.png"/>绑定手机</h1>
        </div>
    </div>
    <ion-content class="has-header pas-bind-tips">
        <div class="tips">
            <i class="icon ion-alert-circled balanced"></i>
            绑定手机后可以找回密码，账号、付费更安全！
        </div>
        <div class="btn">
            <button type="submit" class="ctrl-btn button button-calm" ng-click="toBind()" >立即绑定</button>
            <button type="submit" class="ctrl-btn button button-light" ng-click="bindLater()">以后再说</button>
        </div>
    </ion-content>
</ion-view>
