<ion-view title="home">
    <ion-header-bar class="bar bar-light">
        <div class="buttons">
            <button class="button button-light" ng-click="switchAccount()">切换账号</button>
        </div>
        <h1 class="title">个人中心</h1>

        <div class="buttons">
            <button class="button button-light">返回游戏</button>
        </div>
    </ion-header-bar>
    <ion-content class="user-info">
        <div>
            <a class="item item-thumbnail-left">
                <img src="../img/001.jpg">

                <h2>{{ user.userName + '(' + user.uid + ')' }}</h2>

                <h3>帐户余额:{{user.aBalance}}a币</h3>

                <h3>最后登录时间:{{ user.lastLoginTime }}</h3>
            </a>
        </div>

        <div class="list list-inset blue">
            <a class="item item-icon-left item-icon-right calm-bg" href="#">
                <i class="icon ion-email"></i>
                <span>|</span> a币充值
                <i class="icon ion-ios7-arrow-right"></i>
            </a>
        </div>

        <div class="list card">
            <a href="#" class="item item-icon-right">
                <i class="icon ion-ios7-arrow-right"></i>
                交易记录
            </a>
            <a href="#" class="item item-icon-right">
                <i class="icon ion-ios7-arrow-right"></i>
                修改密码
            </a>
            <a href="#" class="item item-icon-right">
                <i class="icon hint">未设置</i>
                <i class="icon ion-ios7-arrow-right"></i>
                绑定手机号
            </a>
        </div>
    </ion-content>
</ion-view>