<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.rensanning.cordova.zydevice"
    version="0.0.1">
    <name>ZYDevice</name>
    <description>ZYDevice Description</description>
    <author>sandy</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/ZYDevice.js" name="ZYDevice">
        <clobbers target="ZYDevice" />
    </js-module>
    <platform name="android">
        <source-file src="src/android/ZYDevice.java" target-dir="src/com/rensanning/cordova/zydevice" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZYDevice">
                <param name="android-package" value="com.rensanning.cordova.zydevice.ZYDevice"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">  
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />  
        </config-file> 
    </platform>
</plugin>