.bar.bar-light.account-header .title{ color: #1A9BDF; font-weight: bold; vertical-align: top}
.login-form{ padding:0; color:#1A9BDF;}
.login-form .form-list li{ clear:both; height:35px; padding:0 30px 0 60px; margin-bottom:10px; margin-left:10px; margin-right: 10px; border:1.5px solid #1A9BDF; overflow: hidden; border-radius:4px;}
.login-form .form-label-left{ float:left; width:50px; text-align:right; padding-right:10px; margin-left:-60px; font-size:30px;}
.login-form .form-label-right{ float:right; width:30px; text-align:right; padding-right:10px; margin-left:-60px; font-size:30px;}
.form-action{ width:100%; padding:0 10px;}
.login-form .ctrl-txt{ padding:0 10px}
.ctrl-btn.button-calm{ display:block; width:100%; text-align:center; color:#FFF; min-height:40px; line-height:30px; border:0; border-radius:4px;margin-top: 10px;}
.login-form .ctrl-btn.button-balanced{ display:block; width:100%; text-align:center; color:#FFF; min-height:40px; line-height:30px; border:0; border-radius:4px;margin-top: 10px;}
.login-form .link .ui-checkbox{padding:0px 10px 10px 10px; }
.login-form .link a{text-decoration:none; padding:0px 10px 10px 10px;}
.login-form .link a:first-child{ float:left;}
.login-form .link a:last-child{ float:right;}

.reg-form .form-label{border: none; padding: 1px 10px}
.reg-form .form-label .item-input {min-height: 58px; height: 59px}
.reg-form .form-label .item-input-wrapper.inner-input {padding-left: 0; background: none;}
.reg-form .form-label .item-input-wrapper.inner-input input{flex: inherit; padding-right: 0}
.reg-form .form-label-left {display:block; color:#1A9BDF;font-size: 30px; text-align: center; padding-right: 15px; width: 40px;}
.reg-form .form-action button{margin-top: 0;}
.reg-form .ctrl-btn-right button{min-height:40px; height: 40px ; margin-right: 5px}
.reg-form .link a{text-decoration:none; padding:10px;}
.reg-form .link a:first-child{ float:right;}
.reg-form .reg-check-1 label.item.item-checkbox{padding: 0 0 0 35px; border: none}
.reg-form .reg-check-2 label.item.item-checkbox{padding: 0  0 0; border: none}
.reg-form .reg-check-3 {padding: 0; border: none;vertical-align: middle;height:30px; line-height:30px; font-size: 16px;}
.reg-form .reg-check-1 .item-checkbox .checkbox{left: 0px;}
.reg-form .reg-check-2 .item-checkbox .checkbox{right: 30px;left: auto;padding: 7px 0 7px 7px;}
.reg-form .reg-check-2{padding: 5px 0;}
.reg-form .reg-check col{flex: 0 0 auto;max-width: 30%;}


.user-home .home-label .item{width: 100%; border: none}
.user-home .home-label .item .pic {float: left;margin:0 15px; height: 72px; width: 72px}
.user-home .home-label .info.balance {width: auto}
.user-home .ctrl-btn a{color: #ffffff;font-size: 20px; height: 48px}
.user-home .ctrl-btn span{ font-size: 35px; color: chocolate;}
.user-home .ctrl-btn .ion-email::before{content: url('../img/logo36.png');}
.user-home .ctrl-btn .item{padding-top: 8px;border-color: #1aacc3;}
.user-home .ctrl-btn .item.activated{background-color:#1aacc3;box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.14902);}
.user-home .home-form .item-icon-right .icon.hint{font-size: 15px;padding-right: 32px;color:#33ccff;}