
.home .bar-light div, .bar-light h1{
  padding-top: 2%;
}

.home .bar.bar-light .title {
  font-size: 26px;
  color: #33ccff;
  height: auto;
}

.home .user-info {
  padding-top: 10%;
}

.home .user-info a h3 {
  color: #aaaaaa;
}

.home .blue a {
  color: #ffffff;
  font-size: 20px;
}

.home .blue span {
  font-size: 35px;
  color: chocolate;
}

.home .ion-email::before {
  content: url('../img/dcn_ledou_ic.png');
}

.home .item-icon-right .icon.hint{
  font-size: 15px;
  padding-right: 32px;
  color:#33ccff;
}
