


.bar.bar-light .title {
  font-size: 28px;
  color: #33ccff;
}

.user-info {
  padding-top: 10%;
}

.user-info a h3 {
  color: #aaaaaa;
}

.blue a {
  color: #ffffff;
  font-size: 20px;
}

.blue span {
  font-size: 35px;
  color: chocolate;
}

.ion-email::before {
  content: url('../img/dcn_ledou_ic.png');
}

.item-icon-right .icon.hint{
  font-size: 15px;
  padding-right: 32px;
  color:#33ccff;
}
